body {
    background: black;
}

h1 {
    text-align: center;
    color: whitesmoke;
    margin-top: 100px;
}

.game-board{ 
    display: grid;
    grid-template-columns: 630px 330px 330px;
    grid-template-rows: 600px;
    justify-content: center;
   }

   .box {
    background-color: blue;
    border: 
   }

div.root-chords {
    color: whitesmoke;
}
