html, body {
  height: 100%;
  font-family: helvetica;
  margin: 0;
}

h1 {
  font-size: 60px;
  margin-top: 0;
  animation: bounce;
  animation-duration: 2s;
}  

body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right top, #00e3ff, #25d9ff, #42ceff, #5bc3fc, #70b7f5, #6ebaf6, #6bbcf7, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  vertical-align: middle;
  font-size: 40px;
  border: 4px solid darkgrey;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  animation: zoomIn;
  animation-duration: 2s;
}

button {
  text-align: center;
  height: 80px;
  width: 80px;
  font-size: 40px;
  color: white;
  background-color: darkgrey;
  margin: 20px;
  border-radius: 8px;
  animation: jackInTheBox;
  animation-duration: 2s;
}

button:hover {
  color: green;
  background-color: white;
}

.game-info {
  text-align: center;
  justify-content: center;
  font-size: 50px ;
}

#submitBtn {
  font-size: 15px;
}

#left-image {
  font-size: 45px;
  position: fixed;
  bottom: 500px;
  left: 80px;
  justify-content: center;
}

#right-image {
  font-size: 45px;
  position: fixed;
  bottom: 500px;
  right: 80px;
  justify-content: center;
}